<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Air Quality Monitoring System</title>
</head>
<body>
    <h1>Air Quality Monitoring System</h1>
    <select id="locationDropdown">
        <option value="Kedarnath">Kedarnath</option>
        <option value="Badrinath">Badrinath</option>
        <option value="Rudranath">Rudranath</option>
    </select>

    <div id="result">
        <h3>Air Quality Data</h3>
        <p><b>Location:</b> <span id="location">-</span></p>
        <p><b>AQI (Indian Standard):</b> <span id="aqi">-</span></p>
        <p><b>Pollutant Details:</b></p>
        <ul id="details">
            <li><b>CO:</b> <span id="co">-</span></li>
            <li><b>NH3:</b> <span id="nh3">-</span></li>
            <li><b>NO:</b> <span id="no">-</span></li>
            <li><b>NO2:</b> <span id="no2">-</span></li>
            <li><b>O3:</b> <span id="o3">-</span></li>
            <li><b>PM10:</b> <span id="pm10">-</span></li>
            <li><b>PM2.5:</b> <span id="pm25">-</span></li>
            <li><b>SO2:</b> <span id="so2">-</span></li>
        </ul>
    </div>
</body>
</html>
